<div class="container card">
  <div>
    <h2 class="ctxt p-2 bg1">Login</h2>

    <form class="form login-form">
      <div class="form">
        <label for="email-login">Email:</label>
        <input class="form-input" type="text" id="email-login" />
      </div>
      <div class="form">
        <label for="password-login">Password:</label>
        <input class="form-input" type="password" id="password-login" placeholder="Must be at least 8 characters long" />
      </div>
      <div class="form">
        <button class="btn btn-primary" type="submit">login</button>
      </div>
    </form>
    <p class="btn btn-block">Dont have an account? <a href="/signUp">Sign Up Here!!!</a></p>
  </div>
  <div class="col-md-6">
</div>
<script src="./js/login.js"></script>